.popular__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 52px;

  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #fff;
  color: #8b8b8b;

  padding: 14px 22px 14px 22px;
  border-top: 1px solid #f8fafa;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
}
