.footer__store-block {
  display: grid;
  grid-template-areas:
  "logo title"
  "logo text";
  width: 232px;
  height: 75px;
  border: 1px solid #2b2b2d;
  border-radius: 2px;
  box-sizing: border-box;
}
